<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
	<link rel="stylesheet" href="/stylesheets/carrossel.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<title>carrossel</title>

</head>
<body>
	<section>
		<h2 class="barra">destaques</h2>
		<div class="wrapper">
		  <div class="carousel owl-carousel">
			<div class="card">
			  <div class="img">
				<img src="/images/jogo1.jpg" alt="" />
			  </div>
			  <div class="content">
				<div class="title">Jogo A</div>
				<div class="sub-title">R$ 29,90</div>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
				  modi dolorem quis quae animi nihil minus sed unde voluptas
				  cumque.
				</p>
				<div class="btn">
				  <form class="buy" action="" method="POST">
					<button class="icons-container" type="submit">
					  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</button>
					<button class="icons-container" type="submit">
					  <i class="fa fa-heart" aria-hidden="true"></i>
					</button>
				  </form>
				</div>
			  </div>
			</div>
			<div class="card">
			  <div class="img">
				<img src="/images/jogo2.jpg" alt="" />
			  </div>
			  <div class="content">
				<div class="title">Jogo b</div>
				<div class="sub-title">R$ 159,90</div>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
				  modi dolorem quis quae animi nihil minus sed unde voluptas
				  cumque.
				</p>
				<div class="btn">
				  <form class="buy" action="" method="POST">
					<button class="icons-container" type="submit">
					  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</button>
					<button class="icons-container" type="submit">
					  <i class="fa fa-heart" aria-hidden="true"></i>
					</button>
				  </form>
				</div>
			  </div>
			</div>
			<div class="card">
			  <div class="img">
				<img src="/images/jogo3.jpg" alt="" />
			  </div>
			  <div class="content">
				<div class="title">Jogo c</div>
				<div class="sub-title">R$ 54,90</div>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
				  modi dolorem quis quae animi nihil minus sed unde voluptas
				  cumque.
				</p>
				<div class="btn">
				  <form class="buy" action="" method="POST">
					<button class="icons-container" type="submit">
					  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</button>
					<button class="icons-container" type="submit">
					  <i class="fa fa-heart" aria-hidden="true"></i>
					</button>
				  </form>
				</div>
			  </div>
			</div>
			<div class="card">
			  <div class="img">
				<img src="/images/jogo5.jpg" alt="" />
			  </div>
			  <div class="content">
				<div class="title">Jogo D</div>
				<div class="sub-title">R$ 299,90</div>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
				  modi dolorem quis quae animi nihil minus sed unde voluptas
				  cumque.
				</p>
				<div class="btn">
				  <form class="buy" action="" method="POST">
					<button class="icons-container" type="submit">
					  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</button>
					<button class="icons-container" type="submit">
					  <i class="fa fa-heart" aria-hidden="true"></i>
					</button>
				  </form>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
		<script>
		  $(".carousel").owlCarousel({
			margin: 20,
			loop: true,
			autoplay: true,
			autoplayTimeout: 2000,
			autoplayHoverPause: true,
			responsive: {
			  0: {
				items: 1,
				nav: false,
			  },
			  600: {
				items: 2,
				nav: false,
			  },
			  1000: {
				items: 3,
				nav: false,
			  },
			},
		  });
		</script>
	  </section>
	</body>
  </html>