<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/header-footer.css">
    <title>Inicio</title>
</head>
<body>
    <footer class="container-header">
        <div class="footer-colunas">
            <div class="logo-about">
                <img class="logo-footer"src="/images/CheckM8.png" alt="Logo" />
                <p class="footer-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            </div>
            <div class="menu-colunas">
                <div class="footer-links">
                    <p class="menu-title">você</p>
                    <a href="/login">minha conta</a>
                    <a href="/favoritos">favoritos</a>
                    <a href="/carrinho">carrinho</a>
                </div>
                <div class="footer-links">
                    <p class="menu-title">Menu</p>
                    <a href="#">Sobre a </a>
                    <a href="/produtos">Produtos</a>
                    <a href="/contato">Contato</a>
                </div>
                <div class="footer-links">
                    <p class="menu-title">saiba +</p>
                    <a href="#">termos e condições</a>
                    <a href="#">trocas e devoluçOes</a>
                    <a href="#">pagamento e envio</a>
                </div>
                <div class="footer-links">
                    <p class="menu-title">siga</p>
                    <div class="social-media">
                        <div class="social-media">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            <a href="#">facebook</a>
                        </div>
                        <div class="social-media">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <a href="#">instagram</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </footer>
</body>
</html>