<div class="card">
    <div class="img-card">
      <img src="/images/jogo10.jpg" alt="" />
    </div>
    <div class="content">
      <div class="title"><%= produto.nome%></div>
      <div class="sub-title"><%=produto.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%></div>
      <p>
        <%=produto.descricao%>
      </p>
      <div class="btn">
        <form class="buy" action="" method="POST">
          <a href="/carrinho">
          <button class="icons-container" type="submit" id="mybutton-buy">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </button>
        </a>
        <a href="/favoritos">
          <button class="icons-container" type="submit">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </button>
        </a>
        </form>
      </div>
    </div>
  </div>