<div class="card">
    <div class="img-card">
      <img src="/images/jogo10.jpg" alt="" />
    </div>
    <div class="content">
      <div class="title">Jogo A</div>
      <div class="sub-title">R$ 29,90</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
        modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
      </p>
      <div class="btn">
        <form class="buy" action="" method="POST">
          <a href="/carrinho">
          <button class="icons-container" type="submit" id="mybutton-buy">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </button>
        </a>
        <a href="/favoritos">
          <button class="icons-container" type="submit">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </button>
        </a>
        </form>
      </div>
    </div>
  </div>