<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/contato.css">
    <title>Contato</title>
</head>

<body class="contato">
<header><%- include("./partials/header") %></header>
<main>
  <div class="contato">
<form class="form-signin">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 fw-bold">Contato</h1>
    </div>
    <div class="form-border">
      <p class="h4 mb-3 font-weight-normal text-center">Como podemos ajudar?</p>
      <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ex: Ana Maria">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ex: seuemail.com">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Mensagem</label>
        <textarea type="email" class="form-control" id="exampleInputEmail1" rows="5" aria-describedby="emailHelp" placeholder="Digite sua mensagem"> </textarea>
      </div>
      <div class="nav flex-column g-3 align-items-center px-5 .mt-n1">
        <button class="btn btn-warning btn-block" type="submit">Enviar</button>
      </div>
    </div>
  </form>
</div>
</main>
<footer><%- include("./partials/footer") %></footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>