<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/enderecos.css" />
    <title>checkm8</title>
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <main>
      <h2 class="end">Olá, <%= user.nome %>  </h2>
      <div class="formulario">
        <section class="enderecos">
          <p class="titulo">Endereço</p>
          <div class="dados">
            <form action="" method="POST">
              <div class="form-2">
                <label for="cep">CEP</label>
                <input
                  class="input-2"
                  type="text"
                  name="cep"
                  id="cep"
                  maxlength="10"
                  placeholder="00000-000"
                />
              </div>
              <div class="form-2">
                <label for="rua">Rua</label>
                <input
                  class="input-2 input-3"
                  type="text"
                  name="rua"
                  id="rua"
                />
              </div>
              <div class="form-2">
                <label for="numero">Número</label>
                <input
                  class="input-2"
                  type="number"
                  name="numero"
                  id="numero"
                />
              </div>
              <div class="form-2">
                <label for="complemento">Complemento</label>
                <input
                  class="input-2 input-3"
                  type="text"
                  name="complemento"
                  id="complemento"
                  placeholder="bloco, apto"
                />
              </div>
              <div class="form-2">
                <label for="municipio">Cidade</label>
                <input
                  class="input-2 input-3"
                  type="text"
                  name="municipio"
                  id="municipio"

                />
              </div>
              <div class="form-2">
                <label for="estado">Estado</label>
                <input
                  class="input-2 input-3"
                  type="text"
                  name="estado"
                  id="estado"
                />
              </div>
              <div class="btn-1">
                <button class="btn" type="submit">Cadastrar</button>
              </div>
            </form>
          </div>
        </section>
      </div>
    </main>
    <footer><%- include("./partials/footer") %></footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/endereco.js"></script>
  </body>
</html>
