<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/favoritos.css" />
    <title>Favoritos</title>
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <div class="container-favoritos">
      <h1>Favoritos</h1>
      <div class="cart">
        <div class="products">
          <div class="product">
            <img src="/images/jogo9.jpg" />
            <div class="product-info">
              <h3 class="product-name">Jogo A</h3>
              <h4 class="product-price">R$ 129,90</h4>
              <p class="product-quantity">
                Qnt: <input value="1" name="" />
                <button class="product-remove" type="submit">
                  <i class="fa fa-trash" aria-hidden="true"></i>Adicionar ao Carrinho
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section>
      <%- include("./partials/carrossel") %>
    </section>
    <footer><%- include("./partials/footer") %></footer>
  </body>
</html>
