<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/header-footer.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/produtos.css" />
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <main>
      <h2 class="barra">Produtos</h2>
      <% if (produtos.length == 0) { %>
        <div class="alert alert-danger" role="alert">
          <p>Não foram encontrados resultados para sua pesquisa</p>
        </div>
      <% } %>
      <div class="content-products">
        <!-- card de produto -->
        <% produtos.forEach(produto => { %> <%-
        include("./partials/produto-item", {produto}) %> <% }); %>
      </div>
    </main>
    <footer><%- include("./partials/footer") %></footer>
    <script type="text/javascript">
      document.getElementById("mybutton-buy").onclick = function () {
        location.href = "/carrinho";
      };
    </script>
  </body>
</html>
