<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/header-footer.css" />
    <link rel="stylesheet" href="/stylesheets/produtos.css" />
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <main>
      <h2 class="barra">Produtos</h2>
      <div class="content-products">
        <!-- card de produto -->
        <div class="card">
          <div class="img-card">
            <img src="./img/jogo1.jpg" alt="" />
          </div>
          <div class="content">
            <div class="title">Jogo A</div>
            <div class="sub-title">R$ 29,90</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
            </p>
            <div class="btn">
              <form class="buy" action="" method="POST">
                <button class="icons-container" type="submit">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button class="icons-container" type="submit">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- fim do card de produto -->
        <!-- card de produto -->
        <div class="card">
          <div class="img-card">
            <img src="./img/jogo11.jpg" alt="" />
          </div>
          <div class="content">
            <div class="title">Jogo A</div>
            <div class="sub-title">R$ 29,90</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
            </p>
            <div class="btn">
              <form class="buy" action="" method="POST">
                <button class="icons-container" type="submit">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button class="icons-container" type="submit">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- fim do card de produto --><!-- card de produto -->
        <div class="card">
          <div class="img-card">
            <img src="./img/jogo2.jpg" alt="" />
          </div>
          <div class="content">
            <div class="title">Jogo A</div>
            <div class="sub-title">R$ 29,90</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
            </p>
            <div class="btn">
              <form class="buy" action="" method="POST">
                <button class="icons-container" type="submit">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button class="icons-container" type="submit">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- fim do card de produto --><!-- card de produto -->
        <div class="card">
          <div class="img-card">
            <img src="./img/jogo3.jpg" alt="" />
          </div>
          <div class="content">
            <div class="title">Jogo A</div>
            <div class="sub-title">R$ 29,90</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
            </p>
            <div class="btn">
              <form class="buy" action="" method="POST">
                <button class="icons-container" type="submit">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button class="icons-container" type="submit">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- fim do card de produto --><!-- card de produto -->
        <div class="card">
          <div class="img-card">
            <img src="./img/jogo5.jpg" alt="" />
          </div>
          <div class="content">
            <div class="title">Jogo A</div>
            <div class="sub-title">R$ 29,90</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
            </p>
            <div class="btn">
              <form class="buy" action="" method="POST">
                <button class="icons-container" type="submit">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button class="icons-container" type="submit">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- fim do card de produto --><!-- card de produto -->
        <div class="card">
          <div class="img-card">
            <img src="./img/jogo7.jpg" alt="" />
          </div>
          <div class="content">
            <div class="title">Jogo A</div>
            <div class="sub-title">R$ 29,90</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
            </p>
            <div class="btn">
              <form class="buy" action="" method="POST">
                <button class="icons-container" type="submit">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button class="icons-container" type="submit">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- fim do card de produto --><!-- card de produto -->
        <div class="card">
          <div class="img-card">
            <img src="./img/jogo6.jpg" alt="" />
          </div>
          <div class="content">
            <div class="title">Jogo A</div>
            <div class="sub-title">R$ 29,90</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
            </p>
            <div class="btn">
              <form class="buy" action="" method="POST">
                <button class="icons-container" type="submit">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button class="icons-container" type="submit">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- fim do card de produto --><!-- card de produto -->
        <div class="card">
          <div class="img-card">
            <img src="./img/jogo8.jpg" alt="" />
          </div>
          <div class="content">
            <div class="title">Jogo A</div>
            <div class="sub-title">R$ 29,90</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
            </p>
            <div class="btn">
              <form class="buy" action="" method="POST">
                <button class="icons-container" type="submit">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button class="icons-container" type="submit">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- fim do card de produto --><!-- card de produto -->
        <div class="card">
          <div class="img-card">
            <img src="./img/jogo9.jpg" alt="" />
          </div>
          <div class="content">
            <div class="title">Jogo A</div>
            <div class="sub-title">R$ 29,90</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
            </p>
            <div class="btn">
              <form class="buy" action="" method="POST">
                <button class="icons-container" type="submit">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button class="icons-container" type="submit">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- fim do card de produto --><!-- card de produto -->
        <div class="card">
          <div class="img-card">
            <img src="./img/jogo10.jpg" alt="" />
          </div>
          <div class="content">
            <div class="title">Jogo A</div>
            <div class="sub-title">R$ 29,90</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
            </p>
            <div class="btn">
              <form class="buy" action="" method="POST">
                <button class="icons-container" type="submit">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button class="icons-container" type="submit">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- fim do card de produto --><!-- card de produto -->
        <div class="card">
          <div class="img-card">
            <img src="./img/jogo11.jpg" alt="" />
          </div>
          <div class="content">
            <div class="title">Jogo A</div>
            <div class="sub-title">R$ 29,90</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
            </p>
            <div class="btn">
              <form class="buy" action="" method="POST">
                <button class="icons-container" type="submit">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button class="icons-container" type="submit">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- fim do card de produto --><!-- card de produto -->
        <div class="card">
          <div class="img-card">
            <img src="./img/jogo12.jpg" alt="" />
          </div>
          <div class="content">
            <div class="title">Jogo A</div>
            <div class="sub-title">R$ 29,90</div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
              modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
            </p>
            <div class="btn">
              <form class="buy" action="" method="POST">
                <button class="icons-container" type="submit">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
                <button class="icons-container" type="submit">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- fim do card de produto -->
      </div>
    </main>
    <footer><%- include("./partials/footer") %></footer>
  </body>
</html>
