<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/header-footer.css" />
    <link rel="stylesheet" href="/stylesheets/produtos.css" />
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <main>
      <h2 class="barra">Produtos</h2>
      <div class="content-products">
        <!-- card de produto -->
        <% for (let i=0; i < 12; i++){ %>
        <%- include("./partials/produto-item") %>
        <% } %>
      </div>
    </main>
    <footer><%- include("./partials/footer") %></footer>
    <script type="text/javascript">
      document.getElementById("mybutton-buy").onclick = function () {
          location.href = "/carrinho";
      };
  </script>
  </body>
</html>
