<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/sobre.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <title>Sobre a checkM8</title>
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <main>
      <div class="aboutUs">
      <div class="card">
        <div class="img-card">
          <a href="https://github.com/alisboam"
            ><img src="https://avatars.githubusercontent.com/u/61168540?v=4" alt=""
          /></a>
        </div>
        <div class="content">
          <div class="title">
            <a href="">Aline Moraes</a>
          </div>
          <div class="btn-cm8">
            <a href="">
              <i class="bi-github"  role="img" style="font-size: 2rem; color:#0b0230"  aria-label="GitHub"></i>
            </a>
            <div class="sub-title">
              <a href="https://github.com/alisboam">
                alisboam
              </a>
            </div>                
            </div>
          <a href="https://github.com/alisboam/">
          <button class="btn btn-secondary" >Follow</button></a>
        </div>
      </div>
      <div class="card">
        <div class="img-card">
          <a href="https://github.com/lee-ticia"
            ><img src="https://avatars.githubusercontent.com/u/84754451?v=4" alt=""
          /></a>
        </div>
        <div class="content">
          <div class="title">
            <a href="">Letícia Gonçalves</a>
          </div>
          <div class="btn-cm8">
            <a href="">
              <i class="bi-github"  role="img" style="font-size: 2rem; color:#0b0230"  aria-label="GitHub"></i>
            </a>
            <div class="sub-title">
              <a href="https://github.com/lee-ticia">
                lee-ticia
              </a>
            </div>                
            </div>
          <a href="https://github.com/lee-ticia">
          <button class="btn btn-secondary" >Follow</button></a>
        </div>
      </div>
      <div class="card">
        <div class="img-card">
          <a href="https://github.com/apvasconcellos"
            ><img src="https://avatars.githubusercontent.com/u/84941350?v=4" alt=""
          /></a>
        </div>
        <div class="content">
          <div class="title">
            <a href="">Ana Vasconcellos</a>
          </div>
          <div>
          <div class="btn-cm8">
            <a href="">
              <i class="bi-github"  role="img" style="font-size: 2rem; color:#0b0230"  aria-label="GitHub"></i>
            </a>
            <div class="sub-title">
              <a href="https://github.com/apvasconcellos">
                apvasconcellos
              </a>
            </div>                
            </div>
          <a href="https://github.com/apvasconcellos">
          <button class="btn btn-secondary" >Follow</button></a>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="img-card">
          <a href="https://github.com/OseiasAmorim2021"
            ><img src="https://avatars.githubusercontent.com/u/86857948?v=4" alt=""
          /></a>
        </div>
        <div class="content">
          <div class="title">
            <a href="">Oseias Amorim</a>
          </div>
          <div class="btn-cm8">
            <a href="">
              <i class="bi-github"  role="img" style="font-size: 2rem; color:#0b0230"  aria-label="GitHub"></i>
            </a>
            <div class="sub-title">
              <a href="https://github.com/OseiasAmorim2021">
                OseiasAmorim2021
              </a>
            </div>                
            </div>
          <a href="https://github.com/OseiasAmorim2021">
          <button class="btn btn-secondary" >Follow</button></a>
        </div>
      </div>
    </div>
    </main>
    <footer><%- include("./partials/footer") %></footer>
  </body>
</html>
