<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/sobre.css">
    <title>Sobre a checkM8</title>
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <main>
      <h1 class="termos">Lorem ipsum</h1>
      <p class="termos">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
        pariatur maxime velit accusamus eos voluptatum ipsum ex veniam nostrum,
        suscipit eaque reiciendis reprehenderit accusantium necessitatibus.
        Minus tempore illum quidem maiores!
      </p>
      <p class="termos">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
        pariatur maxime velit accusamus eos voluptatum ipsum ex veniam nostrum,
        suscipit eaque reiciendis reprehenderit accusantium necessitatibus.
        Minus tempore illum quidem maiores!
      </p>
    </main>
    <footer><%- include("./partials/footer") %></footer>
  </body>
</html>
