<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/stylesheets/usuario.css" />
    <title>checkm8</title>
  </head>
  <body>
    <header><%- include("./partials/header") %></header>
    <main>
      <div class="painel-status">
      <div class="status-pedidos">
        <div class="dados-cadastro">
          <p class="titulo">Dados pessoais  <i class="fa fa-user" aria-hidden="true"></i></p>
          <div class="dado1">
          Nome: 
        </div>
          <div class="dado1">
          e-mail:
        </div>
          <div class="dado1">
          Cpf:
        </div>
          <div class="dado1">
          Telefone:
        </div>
        <p class="titulo">Endereço de entrega  <i class="fa fa-home" aria-hidden="true"></i></p>
        <div class="dado1">
            Rua:
          </div>
          <div class="dado1">
            Numero:
          </div>
          <div class="dado1">
            Complemento:
          </div>
          <div class="dado1">
            Cep:
          </div>
          <div class="dado1">
            Cidade:
          </div>
          <div class="dado1">
            Estado:
          </div>
        </div>  
      <div class=dados-cadastro>
        <p class="titulo"> meus pedidos <i class="fa fa-gift" aria-hidden="true"></i>
        </p>
       <div>xxxxxxxxxxxx</div>
      </div>
    </div>
       <div class=btns>
      <button class="btn-1" type="submit">sair</button>
      <button class="btn-1" type="submit">editar</button>
      <button class="btn-1" type="submit">prosseguir</button>

    </div>
    </main>
    <footer><%- include("./partials/footer") %></footer>
  </body>
</html>
