 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  display: grid;
  place-items: center;
  text-align: center;
}

/* titulo */

  h2.barra {
  background-color: #fd8415;
  color: #0b0230;
  padding: 10px;
  margin: 20px 0;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}

.card {
  flex: 1;
  margin: 0 10px;
  background: #fff;
  border: 1px solid #888787;
}

.img {
  height: 200px;
  width: 100%;
}
.card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .content {
  padding: 10px 20px;
}
.card .content .title {
  font-size: 18px;
  font-weight: 600;
}
.card .content .sub-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 10px;
}

.card .content p {
  text-align: justify;
  margin: 10px 0;
}

.content p {
  color: #888787;
}

div.sub-title {
  color: #fd8415;
}

button.icons-container {
  color: #fd8415;
  margin: 0 20px;
  font-size: 20px;
}

.card .content .btn {
  display: block;
  text-align: left;
  margin: 10px 0;
}

form.buy {
  display: flex;
  justify-content: center;
}

.card .content .btn button {
  background: #fd8415;
  color: #fff;
  border: none;
  outline: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover {
  transform: scale(0.9);
} 

.wrapper{
  width: 100%;
}
.carousel{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.carousel {
  text-align: center;
  margin: 20px 0;
}

.owl-dots{
  text-align: center;
  margin-top: 40px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 10px 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #fd8415!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #fd8415!important;
}

@media (max-width: 768px) {
  .carousel{
    max-width: 500px;
  }

}