:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
  }
  
  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    color: #031294;
    padding-top: 10px;
  
  }

  .form-border {

    border: 1px solid #c4c4c4;
    border-radius: 20px;
    padding: 20px
   
  }
  
   .form-control {
    background-color: #ddd6d6;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    padding: 5px 50px;
    margin: 5px;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
  }
  
  .nav {
    text-align: center;
    color: #2a2e55;
  }

  a {
    color:#031294;
  }
  .btn {
    text-align: center;
    background-color: #fd8415;
    border-radius: 20px;
    color: #0b0230;
    border: 1px solid #0b0230;
    padding: 10px 20px;
    font-weight: 600;
    margin: 10px;
  }
  
  button:hover {
    outline: none;
    background-color: #fba451;
  }
  
  @supports (-ms-ime-align: auto) {
    .form-signin > label {
      display: none;
    }
    .form-signin input::-ms-input-placeholder {
      color: #777;
    }
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-signin> label {
      display: none;
    }
    .form-signin:-ms-input-placeholder {
      color: #777;
    }
  }