* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
  }
  
  /* html,
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  /* titulo */
  
   h2.barra {
    background-color: #fd8415;
    color: #0b0230;
    padding: 10px;
    margin: 20px 0;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card {
    width: 100%;
    margin: 0 10px;
    background: #fff;
    border: 1px solid #888787;
  }
  
  .img img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .card .content {
    padding: 10px 20px;
  }
  .card .content .title {
    font-size: 18px;
    font-weight: 600;
  }
  .card .content .sub-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 10px;
  }
  
  .card .content p {
    text-align: justify;
    margin: 10px 0;
  }
  
  .content p {
    color: #888787;
  }
  
  div.sub-title {
    color: #fd8415;
  }
  
  button.icons-container {
    color: #fd8415;
    margin: 0 20px;
    font-size: 20px;
  }
  
  .card .content .btn {
    display: block;
    text-align: left;
    margin: 10px 0;
  }
  
  form.buy {
    display: flex;
    justify-content: center;
  }
  
  .content .btn button {
    background: #fd8415;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }

  .btn button:hover {
    transform: scale(0.9);
  } 

div.content-products {
    width: 100vw;
    display: flex;
    text-align: center;
    margin: 20px 40px;
    padding: 20px;
  }