*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
	box-sizing: border-box;
}

.container-status{
	max-width: 1200px;
	margin: 0 auto;
}

.pedido-numero p {
    padding-top: 20px;
    color: green;
    font-size: 24px;
    font-weight: 800;
}

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;

  }
  
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress {
    background-color: #c4c4c4;
    transition: 0.3s;
    width: 0%;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-step-active {
    background-color: green;
    color: #f3f3f3;
  }

  .pedido-detalhes {
      padding: 10px;
      border: 1px solid #c4c4c4;
      align-items: center;
      display: flex;
      flex-direction: column;
  }

  .pedidos-quantidade {
      display: flex;
      justify-content: center;
      padding: 10px;
  }

  .table {
    padding: 20px 100px;
    column-width: 50px;
    border: 1px solid #c4c4c4;
  }

  p.status {
      text-align: center;
      color: #0b0230;
      font-size: 20px;
      font-weight: 800;
      padding: 10px;
  }

  .contact {
      margin-top: 20px;
      padding: 10px;
      border: 1px solid #c4c4c4;

  }